{% extends 'base.html.twig' %}

{% block body %}
    <h2>Mon groupe privé</h2>
    <div>
        <div style="text-align: center">
            <div>Nom du groupe privé : </div>
            <div>Participants :
            </div>
        </div>
    </div>
{% endblock %}

    {% block title %}
    {{ parent() }} | Groupe privé
{% endblock %}