{% extends 'base.html.twig' %}

{% block title %}Rénitialisation du mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h2>Réinitialisez votre mot de passe</h2>
    <div style="text-align: center">
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Veuillez saisir votre email afin de réinitialiser le mot de passe
            </small>
        </div>
        <br>
        <button class="btn btn-primary">Envoi du mail de résiliation</button>
    {{ form_end(requestForm) }}
    </div>

{% endblock %}
