{% extends 'base.html.twig' %}

{% block body %}
    <h2>Ajouter une ville</h2>
    <div class="d-flex justify-content-center">
        {{ form_start(villeForm) }}
        {{ form_widget(villeForm) }}
        <br>
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
            <button type="reset" class="btn btn-primary btn-lg">Annuler</button>
        </div>
        {{ form_end(villeForm) }}
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Ajouter ville{% endblock %}

