{% extends 'base.html.twig' %}

{% block body %}
    <div class="profil">
        <h2>Créer un campus</h2>
        {{ form_start(campusForm) }}
        {{ form_widget(campusForm) }}
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
        <button type="reset" class="btn btn-primary btn-lg">Annuler</button>
        {{ form_end(campusForm) }}
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Créer campus{% endblock %}

