{% extends 'base.html.twig' %}

{% block body %}
    <h2>Modifier le campus</h2>
    <div class="d-flex justify-content-center">
        <div>
            {{ form_start(campusForm) }}
            {{ form_widget(campusForm) }}
            <br>
             <div style="text-align: center">
                <button class="btn btn-primary">Enregistrer</button>
                <button class="btn btn-primary" type="reset">Annuler</button>
             </div>
            {{ form_end(campusForm) }}
        </div>
    </div>

    {% endblock %}

{% block title %}
    {{ parent() }} | Modifier campus
{% endblock %}