{% extends 'base.html.twig' %}

{% block body %}
    <h2>Créer une sortie</h2>
    <div class="d-flex justify-content-center" style="text-align: center">
    {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
    {{ form_end(sortieForm) }}
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Créer sortie{% endblock %}

