{% extends 'base.html.twig' %}

{% block body %}
    <div class="profil">
    <h2>Créer une sortie</h2>
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
        <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
        <button type="submit" class="btn btn-primary btn-lg">Publier</button>
        <button type="reset" class="btn btn-primary btn-lg">Annuler</button>
    {{ form_end(sortieForm) }}
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Créer sortie{% endblock %}

