{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier sortie{% endblock %}

{% block body %}
    <h2>Modifier la sortie</h2>
    <div class="profil">
        <div>
            {{ form_start(sortieForm) }}
            {{ form_widget(sortieForm) }}
            <br>
            <button class="btn btn-primary">Enregistrer</button>
            <button class="btn btn-primary" type="reset">Annuler</button>

            {{ form_end(sortieForm) }}
        </div>
    </div>
{% endblock %}
