{% extends 'base.html.twig' %}

{% block title %}Détails de la sortie{% endblock %}

{% block body %}

    <table class="table table-borderless">
        <tbody>
            <tr>
                <td>Nom de la sortie: </td>
                <td>Campus: </td>
            </tr>
            <br>
            <tr>
                <td>Date et heure de la sortie: </td>
                <td>Lieu: </td>
            </tr>
            <br>
            <tr>
                <td>Date limite d'inscription: </td>
                <td>Rue: </td>
            </tr>
            <br>
            <tr>
                <td>Nombre de place: </td>
                <td>Code postal: </td>
            </tr>
            <br>
            <tr>
                <td>Durée : minutes</td>
                <td>Latitude: </td>
            </tr>
            <br>
            <tr>
                <td>Description et infos: </td>
                <td>Longitude: </td>
            </tr>
        </tbody>
    </table>

    <br>
    <a href="" class="btn btn-primary">S'inscrire à la sortie</a>

{% endblock %}
